head{
    background-color: #b649ff;
}
body{
    background-color: #b649ff;
}
h5{
    position: fixed;
}
image{
    position: fixed;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
}
form{
    font-size: large;
    color: white;
    background-color: #b649ff;
}
.FormContianer{
    margin-left: 30%;
}
.IdentifierContainer{
    float: left;
}
input[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
    color: purple;
    border-color: black;
    border-radius: 1px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}
input[type="submit"]{
    width: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    color: purple;
    border-color: black;
    border-radius: 1px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}
input[type="submit"]:hover{
    background-color: lightgray;
}
input[type="button"]:hover{
    background-color: lightgray;
}
input[type="text"]:focus{
    border: 3px solid black;
}
input[type="text"]{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 10px 30px;
    border: white;
    border-radius: 5px;
    font-size: medium;
}
input[type="number"]:focus{
    border: 3px solid black;
}
input[type="number"]{
    width: 15%;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 10px 30px;
    border: white;
    border-radius: 5px;
    background-size: 30px;
    font-size: medium;
}
.FormPartContainer{
    margin: 0 auto;
}
.FormPartContainer p{
    display: inline-block;
    margin-right: 100px;
}
