head{
    background-color: #b649ff;
}
body{
    background-color: #b649ff;
}
p{
    position: fixed;
}
image{
    position: fixed;
}
form{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
    color: white;
    background-color: #b649ff;
}
.header p{
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    color: white;
    background-color: #b649ff;
    margin-right: 20px;
    display: inline-block;
}
.Team1{
    display: inline-block;
    margin-left: 45%;
}
.Team2{
    display: inline-block;
    margin-left: 65%;
}
.Team3{
    display: inline-block;
    margin-left: 55%;
}
.groupedButtons {
    margin-left: 35%;
}
.IdentifierContainer{
    float: left;
}
.FormContianer{
    margin-left: 20%;
}
.FormPartContainer{

}
.formdiv{
    margin: 0 auto;
}
.formdiv p{
    display: inline-block;
}
.checkboxes{
    margin-right: 15%;
    padding: 10px;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
}
input[type="number"]{
    margin-right: 10%;
    width: 7%;
    height: 50px;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 5px 5px;
    border: white;
    border-radius: 5px;
    background-size: 20px;
    font-size: medium;
}
input[type="number"]:focus{
    border: 3px solid black;
}
input[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
    color: purple;
    border-color: black;
    border-radius: 1px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}
input[type="button"]:hover{
    background-color: lightgray;
}
input[type="submit"]{
    width: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    color: purple;
    border-color: black;
    border-radius: 1px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]:hover{
    background-color: lightgray;
}
