head{
    background-color: #b649ff;
}
body{
    background-color: #b649ff;
}
h5{
    position: fixed;
}
image{
    position: fixed;
}
p#formpart1{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
}
p#formpart2{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
}
p#formpart3{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
}
p#formpart4{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
}
p#formpart5{
    font-family: 'Ubuntu', sans-serif;
    font-size: Larger;
}
form{
    font-size: large;
    color: white;
    background-color: #b649ff;
}
div#WebsiteContainer{
    /*float: left; */
}
div#FormContianer{
    float: right;
}
div#IdentifierContainer{
    float: left;
}
input[type="button"]{
    width: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    color: purple;
    border-color: black;
    border-radius: 1px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}
input#autoY[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input#autoY[type="button"]:hover{
    background-color: pink;
}
input#autoN[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input#autoN[type="button"]:hover{
    background-color: lightblue;
}
input#autoLY[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input#autoLY[type="button"]:hover{
    background-color: pink;
}
input#autoLN[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input#autoLN[type="button"]:hover{
    background-color: lightblue;
}
input#boxesSC[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input#boxesSC[type="button"]:hover{
    background-color: lightblue;
}
input#boxesSW[type="button"]{
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}
input#boxesSW[type="button"]:hover{
    background-color: lightblue;
}
input[type="submit"]{
    width: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    color: purple;
    border-color: black;
    border-radius: 1px;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}
input[type="submit"]:hover{
    background-color: lightgray;
}
input[type="button"]:hover{
    background-color: lightgray;
}
input[type="text"]:focus{
    border: 3px solid black;
}
input[type="text"]{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 10px 30px;
    border: white;
    border-radius: 5px;
    font-size: medium;
}
input[type="number"]:focus{
    border: 3px solid black;
}
input#boxesE[type="number"]:focus{
    border: 3px solid black;
}
input[type="number"]{
    width: 15%;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 10px 30px;
    border: white;
    border-radius: 5px;
    background-size: 30px;
    font-size: medium;
}
input#boxesE[type="number"]{
    width: 15%;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 10px 30px;
    border: white;
    border-radius: 5px;
    background-size: 30px;
    font-size: medium;
}